@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f5f6f8;
  --foreground: #101010;
}

@theme {
  --radius: 0.625rem;

  --font-federo: var(--font-federo-sans);

  --color-primary: #1c1655;
  --color-secondary: #e2a704;
}

@theme inline {
  --font-federo: var(--font-federo-sans);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  input::selection,
  textarea::selection {
    background: Highlight !important; /* system default */
    color: HighlightText !important;
  }
}

@utility container {
  @apply mx-auto px-4;
}

@utility flex-center {
  @apply justify-center items-center;
}

@utility text-36-bold {
  @apply text-[36px] leading-[40px] font-bold;
}

@utility text-32-normal {
  @apply text-[32px] leading-[36px];
}

@utility text-28-bold {
  @apply text-[28px] leading-[28px] font-bold;
}

@utility text-24-bold {
  @apply text-[24px] leading-[28px] font-bold;
}

@utility text-20-medium {
  @apply text-[20px] leading-[24px] font-medium;
}

@utility text-18-bold {
  @apply text-[18px] leading-[24px] font-bold;
}

@utility text-16-bold {
  @apply text-[16px] leading-[20px] font-bold;
}

@utility text-16-semibold {
  @apply text-[16px] leading-[20px] font-semibold;
}

@utility text-16-regular {
  @apply text-[16px] leading-[20px] font-normal;
}

@utility text-14-medium {
  @apply text-[14px] leading-[18px] font-medium;
}

@utility text-14-regular {
  @apply text-[14px] leading-[18px] font-normal;
}

@utility text-12-regular {
  @apply text-[12px] leading-[16px] font-normal;
}

@utility text-12-semibold {
  @apply text-[12px] leading-[16px] font-semibold;
}

@utility btn {
  @apply cursor-pointer  !text-16-bold !p-5 transition-transform duration-200 hover:scale-105 active:scale-95;
}

.inputClass {
  @apply focus-visible:ring-primary border-0 !py-5 bg-white !text-16-regular rounded-sm;
}

@layer components {
  /* ============================= */
  /* React Select */
  /* ============================= */
  .react-select__control {
    @apply !border-0 !rounded-sm !shadow-none !bg-white 
           transition-all duration-50 ease-in-out;
  }

  .react-select__control--is-focused {
    @apply !ring-primary !ring-[3px] !ring-offset-2 
           !outline-0 !shadow-none !rounded-sm 
           transition-all duration-50 ease-in-out;
  }

  .react-select__input:focus-visible {
    @apply !outline-0;
  }

  /* ============================= */
  /* Phone Input */
  /* ============================= */
  .PhoneInput {
    @apply !border-0 !bg-white !rounded-sm !shadow-none px-2 
           transition-all duration-50 ease-in-out;
  }

  .PhoneInput--focus {
    @apply !ring-primary !ring-[3px] !ring-offset-2 
           !bg-white !rounded-sm 
           transition-all duration-50 ease-in-out;
  }

  .PhoneInputInput {
    @apply !outline-0 !p-2 !bg-white !rounded-sm;
  }

  /* Custom CSS */

  .btn-primary {
    @apply btn bg-primary   text-white;
  }

  .btn-secondary {
    @apply btn !bg-secondary   text-black;
  }

  .btn-outline {
    @apply btn outline-primary;
  }

  .underline-button {
    @apply !text-14-medium cursor-pointer text-black underline;
  }
}
