@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f5f6f8;
  --foreground: #101010;
}

@theme {
  --radius: 0.625rem;

  --font-federo: var(--font-federo-sans);

  --color-primary: #1c1655;
  --color-secondary: #e2a704;
}

@theme inline {
  --font-federo: var(--font-federo-sans);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
}
